
.cv-wrap {
 width: 1024px;
 margin:0 auto;
 color:  black;
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
.contact-information{
  text-decoration: none;
  color: black;
}
.information{
  display: block;
}
